<div class="container-fluid hero secrets">
  <nav class="navbar">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/<%=session[:user_id] %>"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        <li><a href="sessions/<%= session[:user_id]%>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
    <div class="secrets">
      <h1>Dojo Secrets</h1>
      <h3>What people really think...</h3>
    </div>
<!-- iterate through secrets -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <% if ! @secrets.empty? %>
          <% @secrets.each do |secret| %>
            <div class="well col-md-12">
              <div class="well-header">
                <h4>Posted on: <%=secret.created_at.strftime("%B %d, %Y, %l:%M%P ")%></h4>
              </div>
                  <p class="text-left"> <%=secret.content%> </p>
                <footer>
                  <% if @secrets_liked.include? secret.id %>
                    <a class="like" href="/likes/<%= secret.id %>/destroy" data-method="delete">
                      <button type="button" class="btn btn-default btn-md pull-left">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Unlike
                      </button>
                    </a>
                  <% else %>
                    <a class="like" href="/likes/<%= secret.id %>" data-method="post">
                      <button type="button" class="btn btn-default btn-md pull-left">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
                      </button>
                    </a>
                  <% end %>
                  <% if secret.likes.length == 1 %>
                    <p class="likes_length"> <%= secret.likes.length %> person liked this secret </p>
                  <% else %>
                    <p class="likes_length"> <%= secret.likes.length %> people liked this secret </p>
                  <% end %>
                  <% if current_user == secret.user %>
                   <a class="pull-left" href="/secrets/<%= secret.id %>/destroy" data-method="delete">Delete Secret</a>
                  <% end %>     
                </footer>
            </div>
          <% end %>
          <% else %>
            <div class="no_secrets well col-md-12">
              <h3>Sorry, no secrets yet.</h3> 
              <p>add one <a href="/users/<%=session[:user_id] %>">here</a></p>
            </div>
          <% end %>
        </div>
      <div class="girl col-md-4">
        <div class="affix">
          <!-- girl image -->
          <%=image_tag("girl.png")%>
        </div>
      </div>
    </div>
  </div>
</div>
